include ../mixins

-
    const menuChildren = [
        {
            name: 'Шредирование',
            url: 'javascript:void(0)',
            children: [
                {
                    name: 'Прием книг',
                    url: 'javascript:void(0)',
                },
                {
                    name: 'Прием бумаги',
                    url: 'javascript:void(0)',
                },
                {
                    name: 'Прием газет',
                    url: 'javascript:void(0)',
                },
                {
                    name: 'Прием картона',
                    url: 'javascript:void(0)',
                },
            ],
        },
        {
            name: 'Варка',
            url: 'javascript:void(0)',
        },
        {
            name: 'Кипование',
            url: 'javascript:void(0)',
        },
        {
            name: 'Архивные документы',
            url: 'javascript:void(0)',
            children: [
                {
                    name: 'Прием книг',
                    url: 'javascript:void(0)',
                },
                {
                    name: 'Прием бумаги',
                    url: 'javascript:void(0)',
                },
                {
                    name: 'Прием газет',
                    url: 'javascript:void(0)',
                },
                {
                    name: 'Прием картона',
                    url: 'javascript:void(0)',
                },
            ],
        },
        {
            name: 'Бухгалтерские документы',
            url: 'javascript:void(0)',
        },
        {
            name: 'Кадровые документы',
            url: 'javascript:void(0)',
        },
        {
            name: 'Секретные документы',
            url: 'javascript:void(0)',
        },
        {
            name: 'Конфиденциальное уничтожение',
            url: 'javascript:void(0)',
        },
        {
            name: 'Архивное хранение документов',
            url: 'javascript:void(0)',
        },
    ];

-
    const menu = [
        {
            id: 1,
            name: 'Прием вторсырья',
            url: 'javascript:void(0)',
            children: menuChildren,
        },
        {
            id: 2,
            name: 'Продажа вторсырья',
            url: 'javascript:void(0)',
            children: menuChildren,
        },
        {
            id: 3,
            name: 'Уничтожение документов',
            url: 'javascript:void(0)',
            children: menuChildren,
        },
        {
            id: 4,
            name: 'Пункты приема',
            url: 'javascript:void(0)',
        },
        {
            id: 5,
            name: 'Стоимость',
            url: 'javascript:void(0)',
        },
        {
            id: 6,
            name: 'О компании',
            url: 'javascript:void(0)',
        },
        {
            id: 7,
            name: 'Контакты',
            url: 'javascript:void(0)',
        },
    ];

-
    const headerMenu = menu.slice(0, 4);

-
    const prices = Array.from(Array(8), () => ({
        name: '5б',
        text: 'Гофро картон, картонные коробки,',
        price: 4000,
        pricePreposition: 'от',
        img: 'images/content/price-table-item.jpg',
    }));

mixin headerSubmenu(item)
    if (item.children)
        ul.header__submenu
            each subitem in item.children
                li.header__submenu-item(class=`${subitem.children ? 'header__submenu-item_parent' : ''}`)
                    a.header__submenu-link(href=subitem.url)= subitem.name
                        if (subitem.children)
                            +svg('angle-down')(class="header__submenu-angle" style="transform: rotate(-90deg)")
                    +headerSubmenu(subitem)

doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
body
    .menu.js-menu
        .menu__bg.js-menu-bg
        .menu__content
            .menu__header
                .menu__about
                    a.menu__logo(href="/")
                        +svg('logo')(viewBox="0 0 170 34")
                    address.menu__address.d-none.d-xl-block!= "188641, Россия, Ленинградская область <br> г. Всеволожск, пр. Гоголя, д. 1"
                .menu__actions
                    ul.socials.menu__socials.d-none.d-xl-block
                        li.socials__item
                            a.socials__link(href="javascript:void(0)")
                                img(src="images/content/svg/socials-vk.svg")
                    .menu__contacts.d-none.d-md-flex
                        a.menu__tel(href="tel:+78129613538") +7 (812) 961-35-38
                        button.border-link.border-link_theme_gray(type="button" data-popup="#export-popup") Заказать звонок

            .menu__body
                .menu__main
                    ul.menu__list.js-menu-list
                        each item in menu
                            if (item.children)
                                li.menu__item.menu__item_has_children.js-menu-item(data-depth=0 data-children=JSON.stringify(item.children))
                                    a.menu__link(href=item.url)= item.name
                                        +svg('angle-down')(class="menu__item-angle" style="transform: rotate(-90deg);")
                            else
                                li.menu__item.js-menu-item
                                    a.menu__link(href=item.url)= item.name
                .menu__additional.js-menu-additional
                    .menu__submenu-wrapper.js-menu-submenu-container
                    +svg('mountain')(class="menu__decoration" viewBox="0 0 610 291")
            .menu__footer.d-xl-none
                a.menu__tel.d-md-none(href="tel:+78129613538") +7 (812) 961-35-38
                button.border-link.border-link_size_sm.border-link_theme_gray.d-md-none(type="button" data-popup="#export-popup") Заказать звонок
                a.menu__email.d-xl-none(href="mailto:info@sinay-paper.ru") info@sinay-paper.ru
                ul.socials.menu__socials.d-xl-none
                    li.socials__item
                        a.socials__link(href="javascript:void(0)")
                            img(src="images/content/svg/socials-vk.svg")
                address.menu__address.d-xl-none!= "188641, Россия, Ленинградская область <br> г. Всеволожск, пр. Гоголя, д. 1"
    .header
        a.header__logo(href="/")
            +svg('logo')(viewBox="0 0 170 34")
        nav.header__nav.d-none.d-xl-block
            ul.header__nav-list
                each item in headerMenu
                    li.header__nav-list-item(class=`${item.children ? 'header__nav-list-item_parent' : ''}`)
                        a.header__nav-list-link(href=item.url)= item.name
                            if (item.children)
                                +svg('angle-down')(class="header__nav-angle")
                        if (item.children)
                            +headerSubmenu(item)
        .header__actions
            .header__contacts.d-none.d-md-flex
                a.header__tel(href="tel:+78129613538") +7 (812) 961-35-38
                button.border-link.border-link_size_sm.border-link_theme_gray(type="button" data-popup="#export-popup") Заказать звонок
            .burger.header__burger.js-menu-toggle
                .burger__wrapper
                    .burger__bar

    -
        const mainBanner = [
            {
                titleMain: 'Прием макулатуры 1',
                titleDescription: 'по выгодной цене до <span class="main-banner__price">12 000 <span class="rouble">o</span>/т111</span>',
                subtitleMain: 'Бесплатный вывоз от 100 кг.1',
                subtitleDescription: 'заплатим за вывоз от 300 кг.1',
                image: '/images/content/bg2500.jpg',
            },
            {
                titleMain: 'Прием макулатуры 2',
                titleDescription: 'по выгодной цене до <span class="main-banner__price">12 000 <span class="rouble">o</span>/т222</span>',
                subtitleMain: 'Бесплатный вывоз от 100 кг.2',
                subtitleDescription: 'заплатим за вывоз от 300 кг.2',
                image: '/images/content/price-table-item.jpg',
            },
            {
                titleMain: 'Прием макулатуры 3',
                titleDescription: 'по выгодной цене до <span class="main-banner__price">12 000 <span class="rouble">o</span>/т333</span>',
                subtitleMain: 'Бесплатный вывоз от 100 кг.3',
                subtitleDescription: 'заплатим за вывоз от 300 кг.3',
                image: '/images/content/about-video-placeholder.jpg',
            },
        ];

    .main-banner.js-main-banner(data-items=JSON.stringify(mainBanner))
        .main-banner__background.js-main-banner-background
            .d-none.d-md-block
                include ../../images/content/banner-2500.svg
            .d-md-none
                include ../../images/content/banner-767.svg
        .container.main-banner__container
            .main-banner__content
                .main-banner__body
                    h1.main-banner__title
                        .main-banner__title-decoration.js-main-banner-title-main Прием макулатуры
                        span.main-banner__title-text.js-main-banner-title-description!= `по выгодной цене до <span class="main-banner__price">12 000 <span class="rouble">o</span>/т111</span>`
                    .main-banner__subtitle
                        .js-main-banner-subtitle Бесплатный вывоз от 100 кг.
                        .main-banner__muted.js-main-banner-subtitle-description заплатим за вывоз от 300 кг.
                    .main-banner__order
                        .btn.btn_size_xl.btn_theme_dark(data-popup="#export-popup")
                            .btn__text Заказать вывоз
                .main-banner__footer
                    .main-banner__linking
                        .main-banner__linking-item
                            a.additional-service(href="javascript:void(0)")
                                .additional-service__title Покупка макулатуры
                                .additional-service__text Покупаем макулатуру любых марок по лучшим ценам на рынке
                        .main-banner__linking-item
                            a.additional-service(href="javascript:void(0)")
                                .additional-service__title Вывоз из офисов
                                .additional-service__text Вывозим макулатуру из офисов и квартир бесплатно от 100 кг
                        .main-banner__linking-item
                            a.additional-service(href="javascript:void(0)")
                                .additional-service__title Уничтожение документов
                                .additional-service__text Сохраняем конфиденциальность и выдаем документы об уничтожении
                    .main-banner__status
                        .main-banner__current.js-main-banner-current!= "01"
                        .main-banner__nav
                            .main-banner__arrow.main-banner__arrow_direction_prev.js-main-banner-prev
                            .main-banner__arrow.main-banner__arrow_direction_next.js-main-banner-next

    .about-banner.inner-section
        .container
            .about-banner__content.border-decoration.border-decoration_position_right.border-decoration_theme_dark
                h2.h2 Сбор макулатуры в СПб
                .about-banner__text
                    | Более 25 лет наша основная специализация — прием макулатуры в Санкт-Петербурге. <br>
                    | За это время мы сделали сбор бумажных отходов максимально удобным <br>
                    | и выгодным для наших клиентов. <br>
                    | Вместе мы не дали тысячам тонн бумаги оказаться на свалке.

    .advantages
        .advantages__prolog
            .advantages__prolog-body
                .js-container
                    .border-decoration.border-decoration_position_left.border-decoration_theme_light
                        h2.h2.h2_theme_light!= "Огромный опыт <br> на рынке вторсырья"
                        .text-wrapper.advantages__text Более четверти века мы развиваемся, чтобы повысить уровень сервиса, сделать сотрудничество максимально открытым и комфортным.
        .advantages__content
            .js-container
                .advantages__list
                    .advantages__item
                        .advantages-item
                            .advantages-item__icon
                                img.advantages-item__icon-img(src="images/content/svg/advantages-delivery.svg")
                            .advantages-item__title Доставка
                            .advantages-item__text Вам не обязательно привлекать свой персонал и транспорт
                    .advantages__item
                        .advantages-item
                            .advantages-item__icon
                                img.advantages-item__icon-img(src="images/content/svg/advantages-weight.svg")
                            .advantages-item__title От 1 кг
                            .advantages-item__text Принимаем макулатуру от 1 кг., вывозим бесплатно 100 кг.
                    .advantages__item
                        .advantages-item
                            .advantages-item__icon
                                img.advantages-item__icon-img(src="images/content/svg/advantages-accuracy.svg")
                            .advantages-item__title Точность
                            .advantages-item__text Взвешивание с минимальной погрешностью
                    .advantages__item
                        .advantages-item
                            .advantages-item__icon
                                img.advantages-item__icon-img(src="images/content/svg/advantages-control.svg")
                            .advantages-item__title Контроль
                            .advantages-item__text Прозрачный механизм работы и контроль на любом этапе


    .inner-section.prices
        .container
            .prices__row
                .prices__table
                    table.price-table.js-price-table(data-source=prices)
                        thead.price-table__header
                            tr
                                td
                                td Марка (MC)
                                td Описание
                                td Цена, ₽
                        tbody.price-table__body
                            each item in prices
                                tr.price-table__row
                                    td.price-table__img-wrapper
                                        img.price-table__img(src=item.img)
                                    td.price-table__name= item.name
                                    td.price-table__text= item.text
                                    td
                                        span.price-table__description= `${item.pricePreposition} `
                                        span.price-table__value= item.price.toLocaleString('ru-RU')
                .prices__preview.border-decoration.border-decoration_position_right.border-decoration_theme_dark
                    h2.h2!= "Цены на прием <br> макулатуры"
                    .text-wrapper.prices__text Держим руку на пульсе рынка вторсырья, поэтому всегда предлагаем своим клиентам справедливое вознаграждение. При больших объемах готовы обсуждать цены индивидуально.

    .inline-banner
        .container.inline-banner__container
            .inline-banner__row
                .inline-banner__preview
                    .inline-banner__title!= "Заявка <br> на приём макулатуры"
                    .inline-banner__description Чтобы узнать стоимость макулатуры выберите ее тип и примерный вес
                .inline-banner__content
                    .inline-banner__header
                        .inline-banner__header-item
                            +svg('car')(class="inline-banner__header-icon")
                            span Бесплатно выезжаем от 100 кг
                        .inline-banner__header-item
                            +svg('wallet')(class="inline-banner__header-icon")
                            span Платим вам при вывозе от 300 кг
                    .inline-banner__body
                        .inline-banner__form
                            .form__row
                                .form__field
                                    select.select.select_theme_light.js-select
                                        each item, i in Array(5)
                                            option(value=i)= `Тип макулатуры ${i}`
                                .form__field
                                    input.input.input_theme_light(name="weight" placeholder="Примерный вес, кг")
                                .form__field
                                    select.select.select_theme_light.js-select
                                        each item, i in Array(5)
                                            option(value=i)= `Тип макулатуры ${i}`
                    .inline-banner__footer
                        .inline-banner__result
                            span.inline-banner__result-description= "Итоговая стоимость: "
                            span.inline-banner__result-value
                                | 0
                                span.rouble o
                        button.btn.btn_size_lg.btn_theme_light.form__submit(type="submit")
                            .btn__text Отправить
                    .inline-banner__agreement.form__agreement
                        | Отправляя форму, Вы соглашаетесь с
                        a(href="/agreement/") обработкой персональных данных


    .additional-services
        .container.additional-services__container
            .additional-services__row
                .additional-services__content-wrapper
                    .additional-services__content
                        .additional-services__list
                            .additional-services__item
                                a.additional-service(href="javascript:void(0)")
                                    .additional-service__title Продажа макулатуры
                                    .additional-service__text Всегда в продаже готовая к переработке кипованная макулатура. Сортировка по ГОСТу. Оформление всех документов.
                            .additional-services__item
                                a.additional-service(href="javascript:void(0)")
                                    .additional-service__title Продажа вторсырья
                                    .additional-service__text Предлагаем сортированные, упакованные и готовые к переработке различные сорта макулатуры и полимерных материалов.
                            .additional-services__item
                                a.additional-service(href="javascript:void(0)")
                                    .additional-service__title Прием полиэтилена
                                    .additional-service__text На постоянной основе закупаем пластиковую тару, пакеты, бутылки, пленку и другие отходы полиэтилена
                            .additional-services__item
                                a.additional-service(href="javascript:void(0)")
                                    .additional-service__title Хранение документов
                                    .additional-service__text Принимаем документы на архивное хранение с последующим уничтожением. Гарантируем конфиденциальность
                .additional-services__prolog
                    .border-decoration.border-decoration_position_right.border-decoration_theme_dark
                        h2.h2 Дополнительные услуги
                        .text-wrapper Располагаем собственным автопарком и бригадой грузчиков. Все хлопоты, связанные с погрузкой и доставкой, возьмем на себя

    .inner-section.left-decoration-1
        .work-scheme
            .container
                .work-scheme__row
                    .work-scheme__prolog
                        .border-decoration.border-decoration_position_left.border-decoration_theme_dark
                            h2.h2 Схема приема макулатуры
                            .text-wrapper
                                p Любым удобным способом оставьте заявку, чтобы мы обсудили детали и согласовали время вывоза.
                                p Сразу после погрузки и взвешивания будет произведена выплата вознаграждения с предоставлением необходимых вам документов.
                    .work-scheme__content
                        ul.work-scheme__list
                            li.work-scheme__item
                                .work-scheme__item-preview
                                    picture.work-scheme__item-order
                                        source(srcset="images/content/s1.svg" media="(min-width: 768px)")
                                        img(src="images/content/s1-320.svg" alt="")
                                    .work-scheme__item-name Звонок
                                .work-scheme__item-info
                                    img.work-scheme__item-icon(src="images/content/call.svg")
                                    .work-scheme__item-text Обсуждается вид и объем макулатуры для сдачи
                            li.work-scheme__item
                                .work-scheme__item-preview
                                    picture.work-scheme__item-order
                                        source(srcset="images/content/s2.svg" media="(min-width: 768px)")
                                        img(src="images/content/s2-320.svg" alt="")
                                    .work-scheme__item-name Заявка
                                .work-scheme__item-info
                                    img.work-scheme__item-icon(src="images/content/request.svg")
                                    .work-scheme__item-text Согласовывается условие вывоза, адрес и способ оплаты
                            li.work-scheme__item
                                .work-scheme__item-preview
                                    picture.work-scheme__item-order
                                        source(srcset="images/content/s3.svg" media="(min-width: 768px)")
                                        img(src="images/content/s3-320.svg" alt="")
                                    .work-scheme__item-name вывоз
                                .work-scheme__item-info
                                    img.work-scheme__item-icon(src="images/content/delivery.svg")
                                    .work-scheme__item-text Бесплатная погрузка и вывоз на базу для переработки
                            li.work-scheme__item
                                .work-scheme__item-preview
                                    picture.work-scheme__item-order
                                        source(srcset="images/content/s4.svg" media="(min-width: 768px)")
                                        img(src="images/content/s4-320.svg" alt="")
                                    .work-scheme__item-name Расчет
                                .work-scheme__item-info
                                    img.work-scheme__item-icon(src="images/content/payment.svg")
                                    .work-scheme__item-text Оплата удобным способом, сразу после взвешивания

    .about
        .about__preview-wrapper
            .about__preview
                .about__video(data-fancybox data-src="https://youtu.be/TP11t_JEWRE")
                    img.about__video-placeholder(src="images/content/about-video-placeholder.jpg")
                    +svg('play-button')(class="about__video-play-button")
                .about__preview-body
                    .about__preview-text
                        .about__quote.js-container
                            p!= "Тысячи тонн ценного вторсырья по&#8209;прежнему отправляются на свалки и полигоны."
                            p Наша общая задача — переломить сложившуюся ситуацию...
        .about__content
            .about__content-title.js-container!= "О компании <br> ООО “Синай”"
            .about__main-row
                +svg('mountain')(class="about__mountain-decoration" viewBox="0 0 610 291")
                .js-container
                    .about__content-subtitle!= "на рынке вторсырья <br> с 1992 года"
            .about__content-text.text-wrapper
                .js-container
                    p Более четверти века мы развиваем отрасль переработки мусора в Санкт-Петербурге, делая ее ориентированной на сознательное общество.
                    p Ежегодно мы отправляем на переработку 25 тысяч тонн бумажных отходов, и это далеко не предел. Мы и дальше будем принимать все усилия, чтобы сделать отрасль переработки отходов производства и потребления цивилизованной.

    .areas-map.js-areas
        .areas-map__content-wrapper
            .areas-map__content.js-container
                .h2.areas-map__title
                    span Прием макулатуры в
                    div.areas-map__select.js-areas-select
                    span районе
                .areas-map__form
                    form.form(action="#")
                        .form__row
                            .form__field
                                input.input.input_theme_dark(type="text" placeholder="Имя")
                            .form__field
                                input.input.input_theme_dark(type="tel" inputmode="number" required placeholder="Телефон*")
                        .form__row
                            .form__field
                                input.input.input_theme_dark(type="text" placeholder="Вид макулатуры")
                        .form__footer.form__footer_align_right
                            button.btn.btn_size_lg.btn_theme_dark.form__submit(type="submit")
                                .btn__text Отправить
                            .form__agreement
                                | Отправляя форму, Вы соглашаетесь с
                                a(href="/agreement/") обработкой персональных данных
                .areas-map__footer
                    a.areas-map__tel(href="tel:+78129613538") +7 (812) 961-35-38
                    button.border-link.border-link_size_sm.border-link_theme_gray(type="button" data-popup="#export-popup") Заказать звонок
        .areas-map__el.js-areas-map

    -
        const footerNav = [
            {
                title: 'Прием вторсырья',
                children: [
                    'Покупка макулатуры',
                    'Вывоз макулатуры',
                    'Аренда контейнеров',
                    'Прием полиэтилена',
                ],
            },
            {
                title: 'Продажа вторсырья',
                children: [
                    'Продажа макулатуры',
                    'Продажа полиэтилена',
                ],
            },
            {
                title: 'Уничтожение документов',
                children: [
                    'Шредирование',
                    'Варка',
                    'Кипование',
                    'Архивные документы',
                    'Бухгалтерские документы',
                    'Кадровые документы',
                    'Секретные документы',
                    'Конфиденциальное уничтожение',
                    'Архивное хранение документов',
                ],
            },

        ];

    .footer
        .container
            .footer__row
                .footer__about
                    a.logo.footer__logo(href="/")
                        +svg('logo')(viewBox="0 0 170 34")
                    .footer__copyright © 1992 – 2021, ООО "Синай"
                    a.footer__dev(href="//toplife.agency/" target="_blank")
                        .footer__dev-text!= "Создание<br> и продвижение сайта"
                            img.footer__dev-logo(src="images/content/svg/toplife.svg")
                .footer__nav
                    each section in footerNav
                        .footer__nav-section.js-footer-section
                            a.footer__nav-title.js-footer-section-title(href="javascript:void(0)")= section.title
                            ul.footer__nav-list.js-footer-section-list
                                each item in section.children
                                    li.footer__nav-item
                                        a.footer__nav-link(href="javascript:void(0)")= item
                .footer__contacts
                    .footer__tel-column
                        a.footer__tel(href="tel:+78129613538") +7 (812) 961-35-38
                        button.border-link.border-link_size_md.border-link_theme_gray.footer__callback(type="button" data-popup="#export-popup") Заказать звонок
                    a.footer__email(href="mailto:info@sinay-paper.ru") info@sinay-paper.ru
                    address.footer__address!= "188641, Россия, Ленинградская область г. Всеволожск, пр. Гоголя, д. 1"
                    ul.socials.footer__socials
                        li.socials__item
                            a.socials__link(href="javascript:void(0)")
                                img(src="images/content/svg/socials-vk.svg")

    #export-popup.popup
        form(action="#")
            .popup__title Заказать вывоз
            .form__row
                .form__field
                    input.input.input_theme_dark(type="text" placeholder="Имя")
                .form__field
                    input.input.input_theme_dark(type="tel" inputmode="number" required placeholder="Телефон*")
            .form__row
                .form__field
                    select.select.select_theme_dark.js-select
                        each item, i in Array(8)
                            option(value=`Вид макулатуры ${i}`)= `Вид макулатуры ${i}`
            .form__row
                .form__field
                    select.select.select_theme_dark.js-select
                        each item, i in Array(8)
                            option(value=`Вид макулатуры ${i}`)= `Вид макулатуры ${i}`
            .form__footer.form__footer_align_right
                button.btn.btn_size_lg.btn_theme_dark.form__submit(type="submit")
                    .btn__text Отправить
                .form__agreement
                    | Отправляя форму, Вы соглашаетесь с
                    a(href="/agreement/") обработкой персональных данных
