extends ../layouts/main
include ../components/price-table

block content
    -
        const mainBanner = [
            {
                titleMain: 'Прием макулатуры 1',
                titleDescription: 'по выгодной цене до <span class="main-banner__price">12 000 <span class="rouble">o</span>/т111</span>',
                subtitleMain: 'Бесплатный вывоз от 100 кг.1',
                subtitleDescription: 'заплатим за вывоз от 300 кг.1',
                image: '/images/content/bg2500.jpg',
            },
            {
                titleMain: 'Прием макулатуры 2',
                titleDescription: 'по выгодной цене до <span class="main-banner__price">12 000 <span class="rouble">o</span>/т222</span>',
                subtitleMain: 'Бесплатный вывоз от 100 кг.2',
                subtitleDescription: 'заплатим за вывоз от 300 кг.2',
                image: '/images/content/price-table-item.jpg',
            },
            {
                titleMain: 'Прием макулатуры 3',
                titleDescription: 'по выгодной цене до <span class="main-banner__price">12 000 <span class="rouble">o</span>/т333</span>',
                subtitleMain: 'Бесплатный вывоз от 100 кг.3',
                subtitleDescription: 'заплатим за вывоз от 300 кг.3',
                image: '/images/content/about-video-placeholder.jpg',
            },
        ];

    .main-banner.js-main-banner(data-items=JSON.stringify(mainBanner))
        .main-banner__background.js-main-banner-background
            .d-none.d-md-block
                include ../../images/content/banner-2500.svg
            .d-md-none
                include ../../images/content/banner-767.svg
        .container.main-banner__container
            .main-banner__content
                .main-banner__slider.js-main-banner-slider
                    each item in mainBanner
                        .main-banner__slide(data-image=item.image)
                            h1.main-banner__title
                                .main-banner__title-decoration.js-main-banner-title-main= item.titleMain
                                span.main-banner__title-text.js-main-banner-title-description!= item.titleDescription
                            .main-banner__subtitle
                                .js-main-banner-subtitle= item.subtitleMain
                                .main-banner__muted.js-main-banner-subtitle-description= item.subtitleDescription
                            .main-banner__order
                                .btn.btn_size_xl.btn_theme_dark(data-popup="#export-popup")
                                    .btn__text Заказать вывоз
                .main-banner__footer
                    .main-banner__linking
                        .main-banner__linking-item
                            a.additional-service(href="javascript:void(0)")
                                .additional-service__title Покупка макулатуры
                                .additional-service__text Покупаем макулатуру любых марок по лучшим ценам на рынке
                        .main-banner__linking-item
                            a.additional-service(href="javascript:void(0)")
                                .additional-service__title Вывоз из офисов
                                .additional-service__text Вывозим макулатуру из офисов и квартир бесплатно от 100 кг
                        .main-banner__linking-item
                            a.additional-service(href="javascript:void(0)")
                                .additional-service__title Уничтожение документов
                                .additional-service__text Сохраняем конфиденциальность и выдаем документы об уничтожении
                    .main-banner__status
                        .main-banner__current.js-main-banner-current!= "01"
                        .main-banner__nav.js-main-banner-nav

    .about-banner.inner-section
        .container
            .about-banner__content.border-decoration.border-decoration_position_right.border-decoration_theme_dark
                h2.h2 Сбор макулатуры в СПб
                .about-banner__text
                    | Более 25 лет наша основная специализация — прием макулатуры в Санкт-Петербурге. <br>
                    | За это время мы сделали сбор бумажных отходов максимально удобным <br>
                    | и выгодным для наших клиентов. <br>
                    | Вместе мы не дали тысячам тонн бумаги оказаться на свалке.

    .advantages.left-dark-angle-section
        .left-dark-angle-section__prolog
            .left-dark-angle-section__prolog-body
                .js-container
                    .border-decoration.border-decoration_position_left.border-decoration_theme_light
                        h2.h2.h2_theme_light!= "Огромный опыт <br> на рынке вторсырья"
                        .text-wrapper.advantages__text Более четверти века мы развиваемся, чтобы повысить уровень сервиса, сделать сотрудничество максимально открытым и комфортным.
        .advantages__content.left-dark-angle-section__content
            .js-container
                .advantages__list
                    .advantages__item
                        .advantages-item
                            .advantages-item__icon
                                img.advantages-item__icon-img(src="images/content/svg/advantages-delivery.svg")
                            .advantages-item__content
                                .advantages-item__title Доставка
                                .advantages-item__text Вам не обязательно привлекать свой персонал и транспорт
                    .advantages__item
                        .advantages-item
                            .advantages-item__icon
                                img.advantages-item__icon-img(src="images/content/svg/advantages-weight.svg")
                            .advantages-item__content
                                .advantages-item__title От 1 кг
                                .advantages-item__text Принимаем макулатуру от 1 кг., вывозим бесплатно 100 кг.
                    .advantages__item
                        .advantages-item
                            .advantages-item__icon
                                img.advantages-item__icon-img(src="images/content/svg/advantages-accuracy.svg")
                            .advantages-item__content
                                .advantages-item__title Точность
                                .advantages-item__text Взвешивание с минимальной погрешностью
                    .advantages__item
                        .advantages-item
                            .advantages-item__icon
                                img.advantages-item__icon-img(src="images/content/svg/advantages-control.svg")
                            .advantages-item__content
                                .advantages-item__title Контроль
                                .advantages-item__text Прозрачный механизм работы и контроль на любом этапе

    .inner-section.prices
        .container
            .prices__row
                .prices__table
                    +price-table()
                .prices__preview.border-decoration.border-decoration_position_right.border-decoration_theme_dark
                    h2.h2!= "Цены на прием <br> макулатуры"
                    .text-wrapper.prices__text Держим руку на пульсе рынка вторсырья, поэтому всегда предлагаем своим клиентам справедливое вознаграждение. При больших объемах готовы обсуждать цены индивидуально.

    .inline-banner
        .container.inline-banner__container
            .inline-banner__row
                .inline-banner__preview
                    .inline-banner__title!= "Заявка <br> на приём макулатуры"
                    .inline-banner__description Чтобы узнать стоимость макулатуры выберите ее тип и примерный вес
                .inline-banner__content
                    .inline-banner__header
                        .inline-banner__header-item
                            +svg('car')(class="inline-banner__header-icon")
                            span Бесплатно выезжаем от 100 кг
                        .inline-banner__header-item
                            +svg('wallet')(class="inline-banner__header-icon")
                            span Платим вам при вывозе от 300 кг
                    .inline-banner__body
                        form.inline-banner__form(action="#")
                            .form__body
                                .form__row
                                    .form__field
                                        select.select.select_theme_light.js-select
                                            each item, i in Array(5)
                                                if (i === 0)
                                                    option(value="")= `Тип макулатуры:`
                                                else
                                                    option(value=i)= `Тип макулатуры ${i}`
                                    .form__field
                                        input.input.input_theme_light(name="weight" placeholder="Примерный вес, кг")
                                    .form__field
                                        select.select.select_theme_light.js-select
                                            each item, i in Array(5)
                                                if (i === 0)
                                                    option(value="")= `Тип макулатуры:`
                                                else
                                                    option(value=i)= `Тип макулатуры ${i}`
                                .form__row
                                    .form__field
                                        input.input.input_theme_light(type="text" placeholder="Имя")
                                    .form__field
                                        input.input.input_theme_light(type="tel" inputmode="number" required placeholder="Телефон*")
                                    .form__field
                    .inline-banner__footer
                        .inline-banner__result
                            span.inline-banner__result-description= "Итоговая стоимость: "
                            span.inline-banner__result-value
                                | 0
                                span.rouble!= "&#8239;o"
                        button.btn.btn_size_lg.btn_theme_light.form__submit(type="submit")
                            .btn__text Отправить
                    .inline-banner__agreement
                        .form__agreement.form__agreement_inline.form__agreement_justify_end
                            | Отправляя форму, Вы соглашаетесь с
                            a(href="/agreement/") обработкой персональных данных

    .additional-services.left-green-angle-section
        .container.left-green-angle-section__container
            .additional-services__row.left-green-angle-section__row
                .left-green-angle-section__content
                    .additional-services__list
                        .additional-services__item
                            a.additional-service(href="javascript:void(0)")
                                .additional-service__title Продажа макулатуры
                                .additional-service__text Всегда в продаже готовая к переработке кипованная макулатура. Сортировка по ГОСТу. Оформление всех документов.
                        .additional-services__item
                            a.additional-service(href="javascript:void(0)")
                                .additional-service__title Продажа вторсырья
                                .additional-service__text Предлагаем сортированные, упакованные и готовые к переработке различные сорта макулатуры и полимерных материалов.
                        .additional-services__item
                            a.additional-service(href="javascript:void(0)")
                                .additional-service__title Прием полиэтилена
                                .additional-service__text На постоянной основе закупаем пластиковую тару, пакеты, бутылки, пленку и другие отходы полиэтилена
                        .additional-services__item
                            a.additional-service(href="javascript:void(0)")
                                .additional-service__title Хранение документов
                                .additional-service__text Принимаем документы на архивное хранение с последующим уничтожением. Гарантируем конфиденциальность
                .left-green-angle-section__prolog
                    .border-decoration.border-decoration_position_right.border-decoration_theme_dark
                        h2.h2 Дополнительные услуги
                        .text-wrapper Располагаем собственным автопарком и бригадой грузчиков. Все хлопоты, связанные с погрузкой и доставкой, возьмем на себя

    include ../includes/work-scheme
    include ../includes/about
    include ../includes/areas-map
